@import "variables";


body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.first-con{
  width: 100vw;
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  .brand-name{
    font-size: 2.5rem;
    font-weight: 800;
  }
  .profile-order{
    display: flex;
    margin: 0px 10px;
    margin-right: 33px;
    .order-cart{
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 0px 10px;
      border-radius: 50%;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
    .profile{
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-left: 10px;
      img{
        width: 100%;
        height: 100%;
        
      }
    }
  }
  .nav{
    display: none;
    width: 0px;
    height: 0px;
  }
}
.second-con{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .images-con{
    width: 100%;
    height: 500px;
    position: relative;
    // background-image: url(/images/image-one.jpg) center center ;
    .previous-arrow{
      width: 50px;
      height: 50px;
      color: $secondary-color;
      border-radius: 50%;
      background: rgba(214, 213, 213, 0.8);
      position: absolute;
      top: 50%;
      left: 15px;
      font-size:2rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .next-arrow{
      width: 50px;
      height: 50px;
      color: $secondary-color;
      border-radius: 50%;
      background: rgba(214, 213, 213, 0.8);
      position: absolute;
      top: 50%;
      right: 15px;
      font-size:2rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .description{
    width: 100vw;
    margin: 5px;
    h3{
      margin:  0px 10px;
      font-size: 1.5rem;
      color: $tertiary-color;
      font-weight: 800;
      
    }
    h1{
      font-size: 2.5rem;
      font-weight: 800;
      margin: 10px;
    }
    p{
      margin: 10px;
      font-size: 1.2rem;
      color: gray;
      line-height: 1.6;

    }
    .prices{
      height: 4rem;
      display: grid;
      grid-template-columns: 1.3fr 1.7fr 3fr;
      justify-content: center;
      align-items: center;
      
      .price{
        font-size: 3rem;
        font-weight: 900;
        margin-left: 12px;
      }
      .discount{
        font-weight: 800;
        border-radius: 5px;
        background: rgba(247, 183, 66, 0.4);
        width: 50px;
        height: 23px;
        text-align: center;
        align-self: center;
        font-size: 1.2rem;
        padding: 2px;
        color: $tertiary-color;
      }
      .previous-price{
        font-size: 2rem;
        text-align: right;
        font-weight: 700;
        color: rgba(148, 148, 148, 0.8);
        text-decoration: line-through;
        text-decoration-thickness: 15%;
        margin-right: 15px;
      }

    }
    .order-amount{
      height: 4rem;
      display: grid;
      margin: 10px;
      align-items: center;
      padding:5px 20px;
      font-size: 3rem;
      font-weight: 700;
      border-radius: 7px;
      grid-template-columns: 1fr 1fr 1fr;
      background: rgba(168, 168, 168, 0.4);

      .minus{
        color: $tertiary-color;
        
      }
      .plus{
        color: $tertiary-color;
        text-align: right;

      }
      .quantity{
        text-align: center;
        font-weight: 600;
      }
    }
    .add-to-cart{
      height: 4rem;
      margin: 10px;
      padding:5px 15px;
      color: $primary-color;
      background: $tertiary-color;
      font-weight: 700;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
  }
}
}